{% extends "michoacan/home.html" %} Quienes Somos{% block titulo %}Bienvenida
{%endblock %} {% block contenido %}

<div class="section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-7">
        <div class="img-property-slide-wrap">
          <div class="img-property-slide">
            <img
              src="../static/michoacan/images/logo.jpg"
              alt="Image"
              class="img-fluid"
            />
            <img
              src="../static/michoacan/images/logo.jpeg"
              alt="Image"
              class="img-fluid"
              align="center"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <h2 class="heading text-primary">Craf Mich</h2>
        <p class="meta">
          Bienvenidos a Craft Mich "Tienda de Artesanias de Michoacancan
        </p>
        <p class="text-black-50">
          En Craft Mich, nos enorgullecemos de ser una ventana al vibrante mundo
          de las artesanías de Michoacán. Desde nuestras raíces en el corazón de
          este hermoso estado, hemos dedicado nuestra pasión y esfuerzo a
          preservar y promover las tradiciones artesanales que han pasado de
          generación en generacion.
        </p>
        <h3>Nuestra Misión</h3>
        <p class="text-black-50">
          Nuestra misión es celebrar y compartir la rica herencia cultural de
          Michoacán, ofreciendo piezas únicas que reflejan la creatividad, el
          talento y el espíritu de nuestros artesanos locales. Cada artículo en
          nuestra tienda es una obra de arte, cuidadosamente elaborada con
          técnicas ancestrales y materiales autóctonos, asegurando la más alta
          calidad y autenticidad
        </p>

        <div class="d-block agent-box p-5">
          <div class="img mb-4">
            <img
              src="../static/michoacan/images/usuario.png"
              alt="Image"
              class="img-fluid"
            />
          </div>
          <div class="text">
            <h3 class="mb-0">Equipo 1</h3>
            <div class="meta mb-3">
              Sergio David, Javier Villa, Mary Cruz Barajas
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
              laborum quo quos omnis sed magnam id ducimus saepe
            </p>
            <ul class="list-unstyled social dark-hover d-flex">
              <li class="me-1">
                <i
                  class="fa fa-whatsapp"
                  style="font-size: 48px; color: green"
                ></i>
              </li>
              <li class="me-1">
                <i
                  class="fa fa-facebook-official"
                  style="font-size: 48px; color: blue"
                ></i>
              </li>
              <li class="me-1">
                <i
                  class="fas fa-map-marker-alt"
                  style="font-size: 48px; color: red"
                ></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}
