{% extends "michoacan/home.html" %} {% block titulo%}EDITAR {% endblock %}
{%block contenido %}

<br />

<h5 class="text-center">PRODUCTOS</h5>

<div class="section" align="center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
        <form
          action="{% url 'Editarcarrusel' articulo.id %}"
          method="POST"
          enctype="multipart/form-data"
        >
          {% csrf_token %}

          <div class="row">
            <div class="col-6 mb-3">
              <input
                type="text"
                class="form-control"
                name="producto"
                value="{{ articulo.producto }}"
              />
            </div>
            <div class="col-6 mb-3">
              <select name="categoria" class="form-control">
                <option value="decoraciones">Decoraciones tradicionales</option>
                <option value="ropa">Ropa artesanal</option>
                <option value="accesorios">Accesorios tradicionales</option>
              </select>
            </div>

            <div class="col-12 mb-3">
              <input
                name="precio"
                type="number"
                class="form-control"
                value="{{ articulo.precio }}"
              />
            </div>

            <div class="col-12 mb-3">
              <input
                name="ubicacion"
                type="text"
                class="form-control"
                value="{{ articulo.ubicacion }}"
              />
            </div>
            <div class="col-6 mb-3">
              <input
                type="file"
                name="imagen"
                value="{{ articulo.imagen.url }}"
                class="form-control"
              />
            </div>
            <div class="col-6 mb-3">
              <button
                type="button"
                class="btn btn-info mt-2"
                id="toggleImageBtn"
              >
                Ver imagen
              </button>
              <img
                src="{{ articulo.imagen.url }}"
                id="articuloImage"
                height="500"
                width="500"
                alt="Image"
                class="img-fluid mt-2"
                style="display: none"
              />
            </div>

            <div class="col-12 mb-3">
              <textarea
                cols="30"
                rows="7"
                type="text"
                class="form-control"
                name="descripcion"
                value="{{ articulo.descripcion }}"
              >
{{ articulo.descripcion }}</textarea
              >
            </div>

            <div class="col-12">
              <input type="submit" value="Enviar" class="btn btn-primary" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  document
    .getElementById("toggleImageBtn")
    .addEventListener("click", function () {
      var image = document.getElementById("articuloImage");
      if (image.style.display === "none") {
        image.style.display = "block";
      } else {
        image.style.display = "none";
      }
    });
</script>
{% endblock %}
